<h3>Twoje współrzędne:</h3>
<div>
  N <input type="text" id="latitude" placeholder="XX.XXXXX"> °
</div>
<div>
  E <input type="text" id="longitude" placeholder="XX.XXXXX"> °
</div>
<div>
  <select id="radius">
    <option>promień</option>
    <option value="3">3 km</option>
    <option value="5">5 km</option>
    <option value="10">10 km</option>
    <option value="20">20 km</option>
  </select>
</div>
<div class="btn btn-primary" id="localize_me">Zlokalizuj mnie</div>
<div class="btn btn-primary" id="find">Szukaj</div>