<div class="text-center">
  <h3>Twoje współrzędne:</h3>
  <div>
    N <input type="text" id="latitude"> °
    <br>
    E <input type="text" id="longitude"> °
  </div>
  <div class="btn btn-primary" id="localize_me">Zlokalizuj mnie</div>
  <div class="btn btn-primary" id="find">Szukaj</div>
</div>