/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
body {
  font-size: 18px !important;
}

.navbar .brand {
  margin-right: -20px;
}

#content {
  margin-top: -30px;
  padding: 20px;
}

.btn {
  width: 100px;
}

table {
  font-size: 14px !important;
}

input[type="submit"] {
  width: 126px !important;
}

input[type="text"] {
  margin-bottom: 0 !important;
  margin-top: -4px;
}

#spinner {
  background: url("/assets/spinner.gif") center no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 60px;
  left: 20px;
  display: none;
}

#results {
  margin-top: 30px;
}

.col3 {
  white-space: nowrap;
}

.input-outer {
  margin-bottom: 10px;
  padding-top: 4px;
}

.inline-block {
  display: inline-block;
}

.outher-div {
  width: 15px;
}

footer {
  margin-top: -20px;
}